{% sw_extends '@Storefront/storefront/page/checkout/finish/finish-details.html.twig' %}

{% block page_checkout_finish_data %}
    {{ parent() }}

    {% block page_checkout_finish_data_paypal_pui_container %}
        {% set payPalPuiPaymentInstruction = null %}
        {% set customFieldKey = constant('Swag\\PayPal\\SwagPayPal::ORDER_TRANSACTION_CUSTOM_FIELDS_PAYPAL_PUI_INSTRUCTION') %}
        {% for transaction in page.order.transactions %}
            {% if transaction.customFields[customFieldKey] %}
                {% set payPalPuiPaymentInstruction = transaction.customFields[customFieldKey] %}
            {% endif %}
        {% endfor %}

        {% block page_checkout_finish_data_paypal_pui_instructions %}
            {% if payPalPuiPaymentInstruction %}
                {% set paymentDueDate = payPalPuiPaymentInstruction.payment_due_date|format_date('short', locale=app.request.locale) %}
                <div class="border mb-5 pt-3">

                    {% block page_checkout_finish_data_paypal_pui_instructions_header %}
                        <div class="row text-center justify-content-center no-gutters align-items-center mt-3 pb-3">
                            <div class="col-2 ">
                                <span class="">{{ payPalPuiPaymentInstruction.amount.value }} {{ payPalPuiPaymentInstruction.amount.currency }}</span>
                            </div>
                            <div class="col-1 mr-3">
                                {% sw_icon 'arrow-simple-long-right' style { 'size': 'fluid' } %}
                            </div>

                            <div class="col-1">
                                {% sw_icon 'calendar' style { 'size': 'lg' } %}
                                <div class="mt-1">{{ paymentDueDate }}</div>
                            </div>

                            <div class="col-1 ml-3">
                                {% sw_icon 'arrow-simple-long-right' style { 'size': 'fluid' } %}
                            </div>
                            <div class="col-3">
                                <img src="{{ asset('storefront/img/paypal-logo.png', '@SwagPayPal') }}" alt="PayPal logo"/>
                            </div>
                        </div>

                        <div class="row my-3">
                            <div class="col text-center">{{ "paypal.payUponInvoice.instructions.transferRequest"|trans({"%value%": payPalPuiPaymentInstruction.amount.value, "%currency%": payPalPuiPaymentInstruction.amount.currency, "%date%": paymentDueDate}) }}  </div>
                        </div>
                    {% endblock %}

                    <div class="row justify-content-center no-gutters">
                        <div class="col-8 mt-3">
                            <table class="table table-striped table-borderless">
                                <tr>
                                    <td>{{ "paypal.payUponInvoice.instructions.table.bank"|trans() }}</td>
                                    <th>{{ payPalPuiPaymentInstruction.recipient_banking_instruction.bank_name }}</th>
                                </tr>
                                <tr>
                                    <td>{{ "paypal.payUponInvoice.instructions.table.iban"|trans() }}</td>
                                    <th>{{ payPalPuiPaymentInstruction.recipient_banking_instruction.international_bank_account_number }}</th>
                                </tr>
                                <tr>
                                    <td>{{ "paypal.payUponInvoice.instructions.table.bic"|trans() }}</td>
                                    <th>{{ payPalPuiPaymentInstruction.recipient_banking_instruction.bank_identifier_code }}</th>
                                </tr>
                                <tr>
                                    <td>{{ "paypal.payUponInvoice.instructions.table.holder"|trans() }}</td>
                                    <th>{{ payPalPuiPaymentInstruction.recipient_banking_instruction.account_holder_name }}</th>
                                </tr>
                                <tr>
                                    <td>{{ "paypal.payUponInvoice.instructions.table.amount"|trans() }}</td>
                                    <th>{{ payPalPuiPaymentInstruction.amount.value }}{{ payPalPuiPaymentInstruction.amount.currency }}</th>
                                </tr>
                                <tr>
                                    <td>{{ "paypal.payUponInvoice.instructions.table.reference"|trans() }}</td>
                                    <th>{{ payPalPuiPaymentInstruction.reference_number }}</th>
                                </tr>
                            </table>
                        </div>
                    </div>

                    <div class="row no-gutters">
                        <div class="col text-center m-5">{{ "paypal.payUponInvoice.instructions.legalMessage"|trans() }}</div>
                    </div>
                </div>
            {% endif %}
        {% endblock %}

    {% endblock %}

{% endblock %}
