{% block swag_paypal_order_detail %}
    <sw-page>
        <sw-card-view slot="content">
            {% block swag_paypal_order_detail_tabs %}
                <sw-tabs>
                    <sw-tabs-item :route="{ name: 'sw.order.detail', params: { id: $route.params.id } }"
                                  :title="$tc('swag-paypal.orderDetailTab.overview')">
                        {{ $tc('swag-paypal.orderDetailTab.overview') }}
                    </sw-tabs-item>

                    <sw-tabs-item :route="{ name: 'swag.paypal.order.detail', params: { id: $route.params.id } }"
                                  :title="$tc('swag-paypal.header')">
                        {{ $tc('swag-paypal.header') }}
                    </sw-tabs-item>
                </sw-tabs>
            {% endblock %}
            <sw-card :title="$tc('swag-paypal.orderDetailTab.cardTitle')">
                <template v-if="!isLoading">
                    <sw-container columns="1fr" gap="0px 30px">
                            {% block swag_paypal_order_detail_invoice %}
                                <h3>
                                    {{ $tc('swag-paypal.orderDetailTab.invoice.header') }}
                                </h3>
                                <sw-description-list class="swag-paypal-order-detail__data">
                                    <dt>{{ $tc('swag-paypal.orderDetailTab.invoice.totalAmount') }}</dt>
                                    <dd>{{ amount.total }} {{ currency }}</dd>

                                    <dt>{{ $tc('swag-paypal.orderDetailTab.invoice.subTotal') }}</dt>
                                    <dd> {{ amount.details.subtotal }} {{ currency }}</dd>

                                    <dt>{{ $tc('swag-paypal.orderDetailTab.invoice.shipping') }}</dt>
                                    <dd> {{ amount.details.shipping }} {{ currency }}</dd>
                                </sw-description-list>
                            {% endblock %}

                            {% block swag_paypal_order_detail_payment %}
                                <h3 class="swag-paypal-order-detail__heading">
                                    {{ $tc('swag-paypal.orderDetailTab.payment.header') }}
                                </h3>
                                <sw-description-list class="swag-paypal-order-detail__data">
                                    <dt>{{ $tc('swag-paypal.orderDetailTab.payment.intent') }}</dt>
                                    <dd>{{ $tc('swag-paypal.settingForm.behaviour.intent.' + paymentResource.intent) }}</dd>

                                    <dt>{{ $tc('swag-paypal.orderDetailTab.payment.paymentId') }}</dt>
                                    <dd>{{ paymentResource.id }}</dd>

                                    <dt>{{ $tc('swag-paypal.orderDetailTab.payment.cartId') }}</dt>
                                    <dd>{{ paymentResource.cart }}</dd>

                                    <dt>{{ $tc('swag-paypal.orderDetailTab.payment.state') }}</dt>
                                    <dd>{{ paymentResource.state }}</dd>

                                    <dt>{{ $tc('swag-paypal.orderDetailTab.payment.createTime') }}</dt>
                                    <dd>{{ createDateTime }}</dd>

                                    <dt>{{ $tc('swag-paypal.orderDetailTab.payment.updateTime') }}</dt>
                                    <dd>{{ updateDateTime }}</dd>
                                </sw-description-list>
                            {% endblock %}

                            {% block swag_paypal_order_detail_customer %}
                                <h3 class="swag-paypal-order-detail__heading">
                                    {{ $tc('swag-paypal.orderDetailTab.customer.header') }}
                                </h3>
                                <sw-description-list class="swag-paypal-order-detail__data">
                                    <dt>{{ $tc('swag-paypal.orderDetailTab.customer.payerId') }}</dt>
                                    <dd>{{ paymentResource.payer.payer_info.payer_id }}</dd>
                                </sw-description-list>
                            {% endblock %}
                    </sw-container>
                </template>
            </sw-card>
            <sw-loader v-if="isLoading" class="swag-paypal-order__loading-indicator">
            </sw-loader>
        </sw-card-view>
    </sw-page>
{% endblock %}