{% sw_extends '@Storefront/storefront/page/checkout/confirm/confirm-payment.html.twig' %}

{% block page_checkout_confirm_payment_inner %}
    {{ parent() }}

    {% set payPalPlusData = page.extensions.payPalPlusData %}
    {% if payPalPlusData and payPalPlusData.approvalUrl and payPalPlusData.paymentMethodId is same as(context.paymentMethod.id) %}
        <div class="d-none"
             data-swag-paypal-payment-wall="true"
             data-swag-pay-pal-plus-payment-wall-checkout-order-token="{{ sw_csrf('sales-channel-api.checkout.order.create', {"mode": "token"}) }}"
             data-swag-pay-pal-plus-payment-wall-options="{{ payPalPlusData|json_encode }}">
        </div>
        <div id="ppplus"></div>
    {% endif %}
{% endblock %}

{% block page_checkout_confirm_payment_current %}
    {# @var \Swag\PayPal\Checkout\SPBCheckout\SPBCheckoutButtonData spbCheckoutButtonData #}
    {% set spbCheckoutButtonData = page.extensions[constant('Swag\\PayPal\\Checkout\\SPBCheckout\\SPBCheckoutSubscriber::PAYPAL_SMART_PAYMENT_BUTTONS_DATA_EXTENSION_ID')] %}

    {% if spbCheckoutButtonData and spbCheckoutButtonData.paymentMethodId is same as(context.paymentMethod.id) %}
        <strong>{{ "checkout.confirmCurrentPaymentShipping"|trans }}</strong>
        <div data-swag-paypal-marks="true"></div>
    {% else %}
        {{ parent() }}
    {% endif %}
{% endblock %}
