{% sw_extends '@Storefront/page/checkout/confirm/index.html.twig' %}

{% block page_checkout_confirm_form_submit %}
    {{ parent() }}

    {# @var \Swag\PayPal\Checkout\ExpressCheckout\ExpressCheckoutData expressCheckoutData #}
    {% set expressCheckoutData = page.cart.extensions[constant('Swag\\PayPal\\Checkout\\ExpressCheckout\\ExpressCheckoutController::PAYPAL_EXPRESS_CHECKOUT_CART_EXTENSION_ID')] %}
    {# @var \Swag\PayPal\Checkout\SPBCheckout\SPBCheckoutButtonData spbCheckoutButtonData #}
    {% set spbCheckoutButtonData = page.extensions[constant('Swag\\PayPal\\Checkout\\SPBCheckout\\SPBCheckoutSubscriber::PAYPAL_SMART_PAYMENT_BUTTONS_DATA_EXTENSION_ID')] %}
    {% set payPalPayerId = app.request.query.get(constant('Swag\\PayPal\\Payment\\Handler\\EcsSpbHandler::PAYPAL_PAYER_ID_INPUT_NAME')) %}
    {% set payPalPaymentId = app.request.query.get(constant('Swag\\PayPal\\Payment\\Handler\\EcsSpbHandler::PAYPAL_PAYMENT_ID_INPUT_NAME')) %}

    {% if expressCheckoutData %}
        <input hidden name="{{ constant('Swag\\PayPal\\Payment\\PayPalPaymentHandler::PAYPAL_EXPRESS_CHECKOUT_ID') }}" value="1">
        <input hidden name="{{ constant('Swag\\PayPal\\Payment\\Handler\\EcsSpbHandler::PAYPAL_PAYMENT_ID_INPUT_NAME') }}" value="{{ expressCheckoutData.paymentId }}">
        <input hidden name="{{ constant('Swag\\PayPal\\Payment\\Handler\\EcsSpbHandler::PAYPAL_PAYER_ID_INPUT_NAME') }}" value="{{ expressCheckoutData.payerId }}">
    {% elseif spbCheckoutButtonData %}
        <div class="swag-paypal__smart-buttons"
             data-swag-paypal-smart-payment-buttons="true"
             data-swag-pay-pal-smart-payment-buttons-create-payment-token="{{ sw_csrf('sales-channel-api.action.paypal.spb.create_payment', {"mode": "token"}) }}"
             data-swag-pay-pal-smart-payment-buttons-options="{{ spbCheckoutButtonData|json_encode }}">
        </div>
    {% elseif payPalPayerId and payPalPaymentId %}
        <input hidden name="{{ constant('Swag\\PayPal\\Payment\\PayPalPaymentHandler::PAYPAL_SMART_PAYMENT_BUTTONS_ID') }}" value="1">
        <input hidden name="{{ constant('Swag\\PayPal\\Payment\\Handler\\EcsSpbHandler::PAYPAL_PAYMENT_ID_INPUT_NAME') }}" value="{{ payPalPaymentId }}">
        <input hidden name="{{ constant('Swag\\PayPal\\Payment\\Handler\\EcsSpbHandler::PAYPAL_PAYER_ID_INPUT_NAME') }}" value="{{ payPalPayerId }}">
    {% endif %}
{% endblock %}

{% block base_script_hmr_mode %}
    {{ parent() }}
    {% if page.extensions.payPalPlusData %}
        <script src="https://www.paypalobjects.com/webstatic/ppplus/ppplus.min.js"></script>
    {% endif %}
{% endblock %}
