{% sw_extends '@Storefront/page/checkout/confirm/index.html.twig' %}

{% block page_checkout_confirm_form_submit %}
    {{ parent() }}

    {% set expressCheckoutData = page.cart.extensions.expressCheckoutData %}

    {% if expressCheckoutData.isExpressCheckout %}
        <input name="isPayPalExpressCheckout" value="{{ expressCheckoutData.isExpressCheckout }}" hidden
            data-pay-pal-selector-options='{ "paypalPaymentMethodId": "{{ expressCheckoutData.getPaymentMethodId }}" }'>
        <input name="paypalPaymentId" value="{{ expressCheckoutData.getPaymentId }}" hidden>
        <input name="paypalPayerId" value="{{ expressCheckoutData.getPayerId }}" hidden>
    {% elseif page.extensions.spbCheckoutButtonData and page.extensions.spbCheckoutButtonData.enabled %}
        {% set spbCheckoutButtonData = page.extensions.spbCheckoutButtonData %}
        {% set spbCheckoutData = page.cart.extensions.spbCheckoutData %}

        <input name="isPayPalSpbCheckout" id="isPayPalSpbCheckout" value="1" hidden>
        <input name="paypalPaymentId" id="paypalPaymentId" value="{{ spbCheckoutData.getPaymentId }}" hidden>
        <input name="paypalPayerId" id="paypalPayerId" value="{{ spbCheckoutData.getPayerId }}" hidden>

        <div class="swag-paypal__smart-buttons"
             data-swag-paypal-smart-payment-buttons="true"
             data-swag-pay-pal-smart-payment-buttons-options="{{ spbCheckoutButtonData|json_encode }}">
        </div>
    {% endif %}
{% endblock %}
