{% block swag_paypal_ecs_spb_data %}
    {# @var \Swag\PayPal\Checkout\ExpressCheckout\ExpressCheckoutData expressCheckoutData #}
    {% set expressCheckoutData = page.cart.extensions[constant('Swag\\PayPal\\Checkout\\ExpressCheckout\\ExpressCheckoutController::PAYPAL_EXPRESS_CHECKOUT_CART_EXTENSION_ID')] %}
    {# @var \Swag\PayPal\Checkout\SPBCheckout\SPBCheckoutButtonData spbCheckoutButtonData #}
    {% set spbCheckoutButtonData = page.extensions[constant('Swag\\PayPal\\Checkout\\SPBCheckout\\SPBCheckoutSubscriber::PAYPAL_SMART_PAYMENT_BUTTONS_DATA_EXTENSION_ID')] %}
    {% set payPalPayerId = app.request.query.get(constant('Swag\\PayPal\\Payment\\Handler\\EcsSpbHandler::PAYPAL_PAYER_ID_INPUT_NAME')) %}
    {% set payPalPaymentId = app.request.query.get(constant('Swag\\PayPal\\Payment\\Handler\\EcsSpbHandler::PAYPAL_PAYMENT_ID_INPUT_NAME')) %}

    {% if expressCheckoutData %}

        {% block swag_paypal_ecs_spb_data_express_checkout_input %}
            <input hidden name="{{ constant('Swag\\PayPal\\Payment\\PayPalPaymentHandler::PAYPAL_EXPRESS_CHECKOUT_ID') }}" value="1">
            <input hidden name="{{ constant('Swag\\PayPal\\Payment\\Handler\\EcsSpbHandler::PAYPAL_PAYMENT_ID_INPUT_NAME') }}" value="{{ expressCheckoutData.paymentId }}">
            <input hidden name="{{ constant('Swag\\PayPal\\Payment\\Handler\\EcsSpbHandler::PAYPAL_PAYER_ID_INPUT_NAME') }}" value="{{ expressCheckoutData.payerId }}">
        {% endblock %}

    {% elseif spbCheckoutButtonData and spbCheckoutButtonData.paymentMethodId is same as(context.paymentMethod.id) %}

        {% block swag_paypal_ecs_spb_data_smart_payment_button %}
            <div data-swag-paypal-smart-payment-buttons="true"
                 data-swag-pay-pal-smart-payment-buttons-create-payment-token="{{ sw_csrf('sales-channel-api.action.paypal.spb.create_payment', {"mode": "token"}) }}"
                 data-swag-pay-pal-smart-payment-buttons-options="{{ spbCheckoutButtonData|json_encode }}"
                 data-swag-pay-pal-add-error-token="{{ sw_csrf('payment.paypal.add_error', {"mode": "token"}) }}">
            </div>
        {% endblock %}

    {% elseif payPalPayerId and payPalPaymentId %}

        {% block swag_paypal_ecs_spb_data_input %}
            <input hidden name="{{ constant('Swag\\PayPal\\Payment\\PayPalPaymentHandler::PAYPAL_SMART_PAYMENT_BUTTONS_ID') }}" value="1">
            <input hidden name="{{ constant('Swag\\PayPal\\Payment\\Handler\\EcsSpbHandler::PAYPAL_PAYMENT_ID_INPUT_NAME') }}" value="{{ payPalPaymentId }}">
            <input hidden name="{{ constant('Swag\\PayPal\\Payment\\Handler\\EcsSpbHandler::PAYPAL_PAYER_ID_INPUT_NAME') }}" value="{{ payPalPayerId }}">
        {% endblock %}

    {% endif %}
{% endblock %}
