{% block swag_paypal_ecs_spb_data %}
    {# @var \Swag\PayPal\Checkout\ExpressCheckout\ExpressCheckoutData expressCheckoutData #}
    {% set expressCheckoutData = page.cart.extensions[constant('Swag\\PayPal\\Checkout\\ExpressCheckout\\SalesChannel\\ExpressPrepareCheckoutRoute::PAYPAL_EXPRESS_CHECKOUT_CART_EXTENSION_ID')] %}
    {# @var \Swag\PayPal\Checkout\SPBCheckout\SPBCheckoutButtonData spbCheckoutButtonData #}
    {% set spbCheckoutButtonData = page.extensions[constant('Swag\\PayPal\\Util\\Lifecycle\\Method\\PayPalMethodData::PAYPAL_SMART_PAYMENT_BUTTONS_DATA_EXTENSION_ID')] %}
    {# @var \Swag\PayPal\Storefront\Data\Struct\ACDCCheckoutFieldData acdcFieldData #}
    {% set acdcFieldData = page.extensions[constant('Swag\\PayPal\\Util\\Lifecycle\\Method\\ACDCMethodData::PAYPAL_ACDC_FIELD_DATA_EXTENSION_ID')] %}
    {# @var \Swag\PayPal\Checkout\PUI\PUIFraudNetData acdcFieldData #}
    {% set puiFraudnetData = page.extensions[constant('Swag\\PayPal\\Checkout\\PUI\\PUISubscriber::PAYPAL_PUI_FRAUDNET_PAGE_EXTENSION_ID')] %}
    {# @var \Swag\PayPal\Storefront\Data\Struct\SEPACheckoutData sepaData #}
    {% set sepaData = page.extensions[constant('Swag\\PayPal\\Util\\Lifecycle\\Method\\SEPAMethodData::PAYPAL_SEPA_FIELD_DATA_EXTENSION_ID')] %}
    {# @var \Swag\PayPal\Storefront\Data\Struct\VenmoCheckoutData venmoData #}
    {% set venmoData = page.extensions[constant('Swag\\PayPal\\Util\\Lifecycle\\Method\\VenmoMethodData::PAYPAL_VENMO_FIELD_DATA_EXTENSION_ID')] %}
    {# @var \Swag\PayPal\Storefront\Data\Struct\PayLaterCheckoutData payLaterData #}
    {% set payLaterData = page.extensions[constant('Swag\\PayPal\\Util\\Lifecycle\\Method\\PayLaterMethodData::PAYPAL_PAY_LATER_FIELD_DATA_EXTENSION_ID')] %}
    {# @var \Swag\PayPal\Storefront\Data\Struct\ApplePayCheckoutData applePayData #}
    {% set applePayData = page.extensions[constant('Swag\\PayPal\\Util\\Lifecycle\\Method\\ApplePayMethodData::PAYPAL_APPLE_PAY_FIELD_DATA_EXTENSION_ID')] %}
    {# @var \Swag\PayPal\Storefront\Data\Struct\GooglePayCheckoutData googlePayData #}
    {% set googlePayData = page.extensions[constant('Swag\\PayPal\\Util\\Lifecycle\\Method\\GooglePayMethodData::PAYPAL_GOOGLE_PAY_FIELD_DATA_EXTENSION_ID')] %}
    {# @var \Swag\PayPal\Checkout\Plus\PlusData plusData #}
    {% set plusData = page.extensions[constant('Swag\\PayPal\\Checkout\\Plus\\PlusSubscriber::PAYPAL_PLUS_DATA_EXTENSION_ID')] %}

    {% if expressCheckoutData %}

        {% block swag_paypal_ecs_spb_data_express_checkout_input %}
            <input type="hidden" name="{{ constant('Swag\\PayPal\\Checkout\\Payment\\PayPalPaymentHandler::PAYPAL_EXPRESS_CHECKOUT_ID') }}" value="1">
            <input type="hidden" name="{{ constant('Swag\\PayPal\\Checkout\\Payment\\Method\\AbstractPaymentMethodHandler::PAYPAL_PAYMENT_ORDER_ID_INPUT_NAME') }}" value="{{ expressCheckoutData.paypalOrderId }}">
        {% endblock %}

    {% elseif plusData %}

        {# @deprecated tag:v10.0.0 - will be removed without replacement #}
        {% block swag_paypal_ecs_spb_data_plus_checkout_input %}
            <input type="hidden" name="paypalPaymentId" value="{{ plusData.paypalPaymentId }}">
            <input type="hidden" name="paypalToken" value="{{ plusData.paypalToken }}">
            <input type="hidden" name="{{ plusData.isEnabledParameterName }}" value="1">
        {% endblock %}

    {% elseif spbCheckoutButtonData and spbCheckoutButtonData.paymentMethodId is same as(context.paymentMethod.id) %}

        {% block swag_paypal_ecs_spb_data_smart_payment_button %}
            <div data-swag-paypal-smart-payment-buttons="true"
                 data-swag-pay-pal-smart-payment-buttons-options="{{ spbCheckoutButtonData.jsonSerialize|merge({ 'foo': 'bar' })|json_encode }}">
            </div>
        {% endblock %}

    {% elseif acdcFieldData and acdcFieldData.paymentMethodId is same as(context.paymentMethod.id) %}

        {% block swag_paypal_ecs_spb_data_acdc_fields %}
            <div data-swag-paypal-acdc-fields="true"
                 data-swag-paypal-acdc-fields-options="{{ acdcFieldData|json_encode }}">
            </div>
        {% endblock %}

    {% elseif puiFraudnetData and puiFraudnetData.paymentMethodId is same as(context.paymentMethod.id) %}

        {% block swag_paypal_ecs_spb_data_pui_fraudnet %}
            <script type="application/json" fncls="fnparams-dede7cc5-15fd-4c75-a9f4-36c430ee3a99">
                {
                    "f": "{{ puiFraudnetData.sessionIdentifier }}",
                    "s": "{{ puiFraudnetData.websiteIdentifier }}",
                    "sandbox": {{ puiFraudnetData.sandbox ? "true" : "false" }}
                }
            </script>
            <script type="text/javascript" src="https://c.paypal.com/da/r/fb.js"></script>

            <input type="hidden" name="{{ constant('Swag\\PayPal\\Checkout\\Payment\\Method\\PUIHandler::PUI_FRAUD_NET_SESSION_ID') }}" value="{{ puiFraudnetData.sessionIdentifier }}">
        {% endblock %}

    {% elseif sepaData and sepaData.paymentMethodId is same as(context.paymentMethod.id) %}

        {% block swag_paypal_ecs_spb_data_sepa_fields %}
            <div data-swag-paypal-sepa="true"
                 data-swag-paypal-sepa-options="{{ sepaData|json_encode }}">
            </div>
        {% endblock %}

    {% elseif venmoData and venmoData.paymentMethodId is same as(context.paymentMethod.id) %}

        {% block swag_paypal_ecs_spb_data_venmo_fields %}
            <div data-swag-paypal-venmo="true"
                 data-swag-paypal-venmo-options="{{ venmoData|json_encode }}">
            </div>
        {% endblock %}

    {% elseif payLaterData and payLaterData.paymentMethodId is same as(context.paymentMethod.id) %}

        {% block swag_paypal_ecs_spb_data_pay_later_fields %}
            <div data-swag-paypal-pay-later="true"
                 data-swag-paypal-pay-later-options="{{ payLaterData|json_encode }}">
            </div>
        {% endblock %}

    {% elseif applePayData and applePayData.paymentMethodId is same as(context.paymentMethod.id) %}

        {% block swag_paypal_ecs_spb_data_apple_pay_fields %}
            <div
                class="swag-paypal-ecs-spb-apple-pay"
                data-swag-paypal-apple-pay="true"
                data-swag-paypal-apple-pay-options="{{ applePayData|json_encode }}">
            </div>
        {% endblock %}

    {% elseif googlePayData and googlePayData.paymentMethodId is same as(context.paymentMethod.id) %}

        {% block swag_paypal_ecs_spb_data_google_pay_fields %}
            <div
                class="swag-paypal-ecs-spb-google-pay"
                data-swag-paypal-google-pay="true"
                data-swag-paypal-google-pay-options="{{ googlePayData|json_encode }}">
            </div>
        {% endblock %}

    {% endif %}
{% endblock %}
