{% block swag_paypal_disputes_list %}
    <sw-page class="swag-paypal-disputes-list">

        {% block swag_paypal_disputes_list_smart_bar_header %}
            <template #smart-bar-header>

                {% block swag_paypal_disputes_list_smart_bar_header_title %}
                    <h2>

                        {% block swag_paypal_disputes_list_smart_bar_header_title_text %}
                            {{ $tc('swag-paypal-disputes.list.title') }}
                        {% endblock %}

                        {% block swag_paypal_disputes_list_smart_bar_header_amount %}
                            <span v-if="!isLoading">
                                ({{ total }})
                            </span>
                        {% endblock %}

                    </h2>
                {% endblock %}

            </template>
        {% endblock %}

        {% block swag_paypal_disputes_list_content %}
            <template #content>
                {% block swag_paypal_disputes_list_content_grid %}
                    <sw-data-grid v-if="!isLoading"
                                  :dataSource="visibleDisputes"
                                  :columns="disputesColumns"
                                  :showActions="false"
                                  :showSelection="false">

                        {% block swag_paypal_disputes_list_content_grid_column_link %}
                            <template #column-link="{ item }">
                                <a :href="getExternalDetailPageLink(item)" target="_blank" rel="noopener">
                                    <sw-icon name="default-action-external" size="12px"></sw-icon>
                                </a>
                            </template>
                        {% endblock %}

                        {% block swag_paypal_disputes_list_content_grid_column_dispute_id %}
                            <template #column-dispute_id="{ item }">
                                <router-link :to="{ name: 'swag.paypal.disputes.detail', params: { disputeId: item.dispute_id , salesChannelId} }">
                                    {{ item.dispute_id }}
                                </router-link>
                            </template>
                        {% endblock %}

                        {% block swag_paypal_disputes_list_content_grid_column_dispute_amount %}
                            <template #column-dispute_amount="{ item }">
                                {{ item.dispute_amount.value }} {{ item.dispute_amount.currency_code }}
                            </template>
                        {% endblock %}

                        {% block swag_paypal_disputes_list_content_grid_column_seller_response_due_date %}
                            <template #column-seller_response_due_date="{ item }">
                                {{ formatDate(item.seller_response_due_date) }}
                            </template>
                        {% endblock %}

                        {% block swag_paypal_disputes_list_content_grid_column_buyer_response_due_date %}
                            <template #column-buyer_response_due_date="{ item }">
                                {{ formatDate(item.buyer_response_due_date) }}
                            </template>
                        {% endblock %}

                        {% block swag_paypal_disputes_list_content_grid_column_create_time %}
                            <template #column-create_time="{ item }">
                                {{ formatDate(item.create_time) }}
                            </template>
                        {% endblock %}

                        {% block swag_paypal_disputes_list_content_grid_column_update_time %}
                            <template #column-update_time="{ item }">
                                {{ formatDate(item.update_time) }}
                            </template>
                        {% endblock %}

                        {% block swag_paypal_disputes_list_content_grid_pagination %}
                            <template #pagination>
                                <sw-pagination
                                    :page="page"
                                    :limit="limit"
                                    :total="total"
                                    @page-change="onPageChange">
                                </sw-pagination>
                            </template>
                        {% endblock %}

                    </sw-data-grid>
                {% endblock %}

            </template>
        {% endblock %}

        {% block swag_paypal_disputes_list_sidebar %}
            <template #sidebar>
                <sw-sidebar class="swag-paypal-disputes-list__sidebar">

                    {% block swag_paypal_disputes_list_sidebar_refresh %}
                        <sw-sidebar-item
                            icon="default-arrow-360-left"
                            :title="$tc('swag-paypal-disputes.list.titleSidebarItemRefresh')"
                            @click="onRefresh">
                        </sw-sidebar-item>
                    {% endblock %}

                    {% block swag_paypal_disputes_list_sidebar_filter %}
                        <sw-sidebar-item icon="default-action-filter"
                                         :title="$tc('swag-paypal-disputes.list.titleSidebarItemFilter')">

                            {% block swag_paypal_disputes_list_sidebar_filter_items %}
                                {% block swag_paypal_disputes_list_sidebar_filter_sales_channel %}
                                    <sw-sales-channel-switch :label="$tc('sw-settings.system-config.labelSalesChannelSelect')"
                                                             @change-sales-channel-id="onSalesChannelChanged">
                                    </sw-sales-channel-switch>
                                {% endblock %}

                                {% block swag_paypal_disputes_list_sidebar_filter_dispute_state %}
                                    <sw-multi-select
                                        :label="$tc('swag-paypal-disputes.list.titleSidebarItemFilterDisputeStates')"
                                        :options="disputeStates"
                                        :value="disputeStateFilter"
                                        @change="onChangeDisputeStateFilter">
                                    </sw-multi-select>
                                {% endblock %}
                            {% endblock %}

                        </sw-sidebar-item>
                    {% endblock %}

                </sw-sidebar>
            </template>
        {% endblock %}

    </sw-page>
{% endblock %}
