{% sw_extends '@Framework/documents/invoice.html.twig' %}

{% block document_payment %}
    {% set payPalPuiPaymentInstruction = null %}
    {% set customFieldKey = constant('Swag\\PayPal\\SwagPayPal::ORDER_TRANSACTION_CUSTOM_FIELDS_PAYPAL_PUI_INSTRUCTION') %}
    {% for transaction in order.transactions %}
        {% if transaction.customFields[customFieldKey] %}
            {% set payPalPuiPaymentInstruction = transaction.customFields[customFieldKey] %}
        {% endif %}
    {% endfor %}

    {% if payPalPuiPaymentInstruction %}
        {{ 'payUponInvoice.document.paymentShippingInfo.payPalPuiPaymentMethod'|trans() }}
    {% else %}
        {{ parent() }}
    {% endif %}
{% endblock %}

{% block document_payment_shipping %}
    {{ parent() }}

    {% set payPalPuiPaymentInstruction = null %}
    {% set customFieldKey = constant('Swag\\PayPal\\SwagPayPal::ORDER_TRANSACTION_CUSTOM_FIELDS_PAYPAL_PUI_INSTRUCTION') %}
    {% for transaction in order.transactions %}
        {% if transaction.customFields[customFieldKey] %}
            {% set payPalPuiPaymentInstruction = transaction.customFields[customFieldKey] %}
        {% endif %}
    {% endfor %}

    {% if payPalPuiPaymentInstruction %}
        <br>
        <div>{{ 'payUponInvoice.document.paymentNote'|trans({"%companyName%": config.companyName}) }}</div>
        <br>
        <div>{{ "payUponInvoice.instructions.transferRequest"|trans({"%value%": payPalPuiPaymentInstruction.amount.value, "%currency%": payPalPuiPaymentInstruction.amount.currency, "%date%": payPalPuiPaymentInstruction.payment_due_date|localizeddate('short', 'none', app.request.locale)}) }}</div>
        <br>
        <div>
            <table>
                <tr>
                    <td>{{ "payUponInvoice.instructions.table.bank"|trans() }}</td>
                    <th>{{ payPalPuiPaymentInstruction.recipient_banking_instruction.bank_name }}</th>
                </tr>
                <tr>
                    <td>{{ "payUponInvoice.instructions.table.iban"|trans() }}</td>
                    <th>{{ payPalPuiPaymentInstruction.recipient_banking_instruction.international_bank_account_number }}</th>
                </tr>
                <tr>
                    <td>{{ "payUponInvoice.instructions.table.bic"|trans() }}</td>
                    <th>{{ payPalPuiPaymentInstruction.recipient_banking_instruction.bank_identifier_code }}</th>
                </tr>
                <tr>
                    <td>{{ "payUponInvoice.instructions.table.holder"|trans() }}</td>
                    <th>{{ payPalPuiPaymentInstruction.recipient_banking_instruction.account_holder_name }}</th>
                </tr>
                <tr>
                    <td>{{ "payUponInvoice.instructions.table.amount"|trans() }}</td>
                    <th>{{ payPalPuiPaymentInstruction.amount.value }}{{ payPalPuiPaymentInstruction.amount.currency }}</th>
                </tr>
                <tr>
                    <td>{{ "payUponInvoice.instructions.table.reference"|trans() }}</td>
                    <th>{{ payPalPuiPaymentInstruction.reference_number }}</th>
                </tr>
            </table>
        </div>
    {% endif %}
{% endblock %}

{% block document_footer_second_column %}
    {% set payPalPuiPaymentInstruction = null %}
    {% set customFieldKey = constant('Swag\\PayPal\\SwagPayPal::ORDER_TRANSACTION_CUSTOM_FIELDS_PAYPAL_PUI_INSTRUCTION') %}
    {% for transaction in order.transactions %}
        {% if transaction.customFields[customFieldKey] %}
            {% set payPalPuiPaymentInstruction = transaction.customFields[customFieldKey] %}
        {% endif %}
    {% endfor %}

    {% if payPalPuiPaymentInstruction %}
    {% else %}
        {{ parent() }}
    {% endif %}
{% endblock %}
